USE [master]
GO
/****** Object:  Database [ShopOnline]    Script Date: 4/6/2023 5:39:49 PM ******/
CREATE DATABASE [ShopOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopOnline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ECOM\MSSQL\DATA\ShopOnline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopOnline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ECOM\MSSQL\DATA\ShopOnline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopOnline]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 4/6/2023 5:39:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [char](9) NOT NULL,
	[TENLOAI] [nvarchar](40) NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 4/6/2023 5:39:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MANSX] [char](9) NOT NULL,
	[TENNSX] [nvarchar](40) NULL,
 CONSTRAINT [PK_NHASANXUAT] PRIMARY KEY CLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/6/2023 5:39:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](9) NOT NULL,
	[MALOAI] [char](9) NOT NULL,
	[MANSX] [char](9) NOT NULL,
	[TENSP] [nvarchar](40) NULL,
	[MOTA] [nvarchar](20) NULL,
	[HINHCHINH] [char](9) NULL,
	[HINHPHU] [char](9) NULL,
	[GIA] [money] NULL,
	[SOLUONGDABAN] [int] NULL,
	[LUOTVIEW] [int] NULL,
	[TINHTRANG] [char](9) NULL,
 CONSTRAINT [PK_SP] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'NAM01    ', N'GIÀY NAM')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'NU01     ', N'GIÀY NỮ')
GO
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX]) VALUES (N'MY       ', N'MỸ')
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX]) VALUES (N'TQ       ', N'TRUNG QUỐC')
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX]) VALUES (N'VN       ', N'VIỆT NAM')
GO
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MANSX], [TENSP], [MOTA], [HINHCHINH], [HINHPHU], [GIA], [SOLUONGDABAN], [LUOTVIEW], [TINHTRANG]) VALUES (N'A01      ', N'NU01     ', N'TQ       ', N'ADIDAS', N'ĐẲNG CẤP, THƯỢNG LƯU', N'A01.JPG  ', N'AA01.JPG ', 370000.0000, 5, 120, N'MOI      ')
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MANSX], [TENSP], [MOTA], [HINHCHINH], [HINHPHU], [GIA], [SOLUONGDABAN], [LUOTVIEW], [TINHTRANG]) VALUES (N'A02      ', N'NU01     ', N'MY       ', N'ADIDAS', N'ĐẲNG CẤP, THƯỢNG LƯU', N'A02.JPG  ', N'AA02.JPG ', 220000.0000, 5, 120, N'MOI      ')
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MANSX], [TENSP], [MOTA], [HINHCHINH], [HINHPHU], [GIA], [SOLUONGDABAN], [LUOTVIEW], [TINHTRANG]) VALUES (N'S01      ', N'NU01     ', N'TQ       ', N'SNEAKER', N'SANG CHẢNH', N'S01.JPG  ', N'SS01.JPG ', 270000.0000, 5, 120, N'MOI      ')
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK1_SP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK1_SP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK2_SP] FOREIGN KEY([MANSX])
REFERENCES [dbo].[NHASANXUAT] ([MANSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK2_SP]
GO
USE [master]
GO
